@page
@model HillHigh1980.UI.Pages.Rosters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Roster.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.Middle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.Middle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.Found)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.Found)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.Caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.Caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roster.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roster.Link)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Roster.RosterId">Edit</a> |
    <a asp-page="../Index">Back to List</a>
</div>
